body {
    background-color: #E6E6E8;
}
.horizonal {
    display: flex;
    justify-content: center;
    border: 1px;
    margin: 1px;
}
#video_container {
    margin: 4px;
    width: 500px;
    height: 445px;
}

#logo {
    width: 100px;
    height: 100px;
    margin:10px;
}
#main_logo {
    width: 400px;
    height: 400px;
    margin-top:70px;
}
#name {
    font-size: 30px;
    text-shadow: 3px 3px 1px #743F21;
    color: #FFA3A3;
    margin-left: 160px;
    margin-right:
    160px;
}
#title {
    width: 600px;
    height: 120px;
}
#home {
    padding: 10px;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    margin:20px;
}
#home:hover {
    background-color: #ffffff;
}
#container {
    position: relative;
    width: 100%;
    height: 200px; /* 배경 이미지의 높이 */
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* 배경 이미지의 z-index 설정 */
    width: 100%; /* 필요에 따라 설정하세요 */
    height: 200px; /* 필요에 따라 설정하세요 */
}


#up {
    z-index: 1;
    position: absolute;
    left: 100%; /* 초기 위치 설정 (오른쪽 끝) */
    top:24%;
    width: 80px;
    height: 80px;
    animation-name: moveLeft; /* 애니메이션 이름 설정 */
    animation-duration: 5s; /* 한 사이클의 애니메이션에 소요되는 시간 설정 */
    animation-timing-function: linear; /* 애니메이션 진행 속도, 가속 방식 설정 */
    animation-delay: 0s; /* 애니메이션 시작 전 대기 시간 설정 */
    animation-direction: normal; /* 애니메이션 반복 시 진행 방향 설정 */
    animation-fill-mode: forwards; /* 애니메이션 미실행 시 요소의 스타일 설정 */
    animation-play-state: running; /* 애니메이션 재생 상태 설정 */
    animation-iteration-count: 10; 
}
#up1 {
    z-index: 1;
    position: absolute;
    left: 100%; /* 초기 위치 설정 (오른쪽 끝) */
    top:24%;
    width: 80px;
    height: 80px;
    animation-name: moveLeft; /* 애니메이션 이름 설정 */
    animation-duration: 5s; /* 한 사이클의 애니메이션에 소요되는 시간 설정 */
    animation-timing-function: linear; /* 애니메이션 진행 속도, 가속 방식 설정 */
    animation-delay: 2s; /* 애니메이션 시작 전 대기 시간 설정 */
    animation-direction: normal; /* 애니메이션 반복 시 진행 방향 설정 */
    animation-fill-mode: forwards; /* 애니메이션 미실행 시 요소의 스타일 설정 */
    animation-play-state: running; /* 애니메이션 재생 상태 설정 */
    animation-iteration-count: 10;
}

#up2 {
    z-index: 1;
    position: absolute;
    left: 100%;
    top:24%;
    width: 80px;
    height: 80px;
    animation-name: moveLeft; /* 애니메이션 이름 설정 */
    animation-duration: 5s; /* 한 사이클의 애니메이션에 소요되는 시간 설정 */
    animation-timing-function: linear; /* 애니메이션 진행 속도, 가속 방식 설정 */
    animation-delay: 10s; /* 애니메이션 시작 전 대기 시간 설정 */
    animation-direction: normal; /* 애니메이션 반복 시 진행 방향 설정 */
    animation-fill-mode: forwards; /* 애니메이션 미실행 시 요소의 스타일 설정 */
    /*animation-play-state: running; /* 애니메이션 재생 상태 설정 */
    animation-iteration-count: 3;
}

@keyframes moveLeft {
    from {
        left: 100%; /* 시작 위치 (오른쪽 끝) */
    }
    to {
        left: -10%; /* 왼쪽 끝으로 이동 */
    }
}


/* @keyframes moveLeft {

/* } */

.button {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 20px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #ddbae4;
    text-align: center;
    font-size:30px;
    color: #CB6CE6;
    text-shadow: 2px 2px 1px #ddbae4;
}
.button:hover {
    box-shadow: 0px 0px 0px #c75ee4;
}
.score-box {
    width: 50%; /* 왼쪽 절반 */
    float: left; /* 왼쪽으로 배치 */
  }
  

  
  .score-box {
    margin-left: 50px;
    position: relative;
    width: 500px; /* 원하는 너비로 조절 */
    height: 300px; /* 원하는 높이로 조절 */
    margin-right: 10px; /* 원하는 간격으로 조정하세요 */
  }
  
  #webcam-box{
    margin-right: 100px;
    float:right;
    width: 500px;
    height: 300px;
    
  }

  #score-box-img {
    width: 100%; /* 이미지를 부모 요소에 맞게 조절 */
    height: 100%; /* 이미지를 부모 요소에 맞게 조절 */
  }
  
  .score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* 텍스트를 가운데 정렬 */
  }
  
  .score-text h4, .score-text .score-value {
    margin: 0;
  }

  .clap-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; /* clap.png 이미지의 너비를 조절하세요 */
    height: 50px; /* clap.png 이미지의 높이를 조절하세요 */
    /* 애니메이션 관련 스타일 */
    animation-name: moveClap;
    animation-duration: 5s; /* 애니메이션 지속 시간을 조절하세요 */
    animation-timing-function: linear; /* 애니메이션 속도를 조절하세요 */
    animation-iteration-count: infinite;
}



