body {
    background-color: #E6E6E8;
    font-family: 'Bagel Fat One', cursive; 
    position: relative;
}
.horizonal {
    display: flex;
    justify-content: center;
    border: 1px;
    margin: 1px;
}
#video_container {
    width: 800px;
    height: 300px;
}

#logo {
    width: 100px;
    height: 100px;
    margin:10px;
}
#main_logo {
    width: 400px;
    height: 400px;
    margin-top:70px;
}

#title {
    width: 600px;
    height: 120px;
}
#home {
    padding: 10px;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    margin:20px;
}
#home:hover {
    background-color: #ffb07b;
}
#container {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 600px; /* 배경 이미지의 높이 */
}

#canvas {
    position: absolute;
    top: 185px;
    left: 10px;
    z-index: -1; /* canvas를 이미지 위로 올림 */
    background-color: #AD7B98;
    width: 1700px;
    height: 200px;
}


#background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* 배경 이미지의 z-index 설정 */
    width: 100%; /* 필요에 따라 설정하세요 */
    height: 200px; /* 필요에 따라 설정하세요 */
}

.button {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 20px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #ddbae4;
    text-align: center;
    font-size:30px;
    color: #CB6CE6;
    text-shadow: 2px 2px 1px #ddbae4;
}
.button:hover {
    box-shadow: 0px 0px 0px #c75ee4;
}
#score{
    background-color: #ffffff;
    width: 100px;
    height: 75px;
    border-radius: 100px;
    box-shadow: 5px 5px 1px #743F21;
    font-size:25px;
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
}
  .score-text   {
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
    position: relative;
    height: 700px; /* 원하는 높이로 조절 */
    margin: auto;
    font-size: 30px;
    z-index: 0;
  }
  
  #webcam-box{
    margin-right: 100px;
    float:right;
    width: 500px;
    height: 300px;
    
  }

  #score-box-img {
    width: 100%; /* 이미지를 부모 요소에 맞게 조절 */
    height: 100%; /* 이미지를 부모 요소에 맞게 조절 */
  }
  
  .score-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* 텍스트를 가운데 정렬 */
  }
  
  .score-text h4, .score-text .score-value {
    margin: 0;
  }

  .clap-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; /*clap.png 이미지의 너비를 조절하세요*/
    height: 50px; /*clap.png 이미지의 높이를 조절하세요*/
    /* 애니메이션 관련 스타일 */
    animation-name: moveClap;
    animation-duration: 5s; /*애니메이션 지속 시간을 조절하세요*/
    animation-timing-function: linear; /*애니메이션 속도를 조절하세요*/
    animation-iteration-count: infinite;
} 



.text {
    color:rgb(238, 144, 37);
    
}
#main_text {
    margin-top: 10px;
    text-align: center;
    color: #ffc3c3;
}
#result_text {
    font-size: 50px;
    color:#5c4410;
}
#modal_text {
    font-size: 50px;
    color:#5c4410;
}

#game-over-text{
    font-size: 50px;
    color:#5c4410;
}
#round {
    background-color: #743F21;
    border-radius: 50px;
    box-shadow: 3px 3px 1px #ffb7d1;
    margin: auto;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color:#ffffff;
    text-align: center;
}
#home:hover {
    background-color: #ffffff;
}
#sample_img {
    width: 380px;
    height: 380px;
    border-radius: 20px;
}
#sample_text {
    font-size: 60px;
    text-shadow: 3px 3px 1px #a06746;
    color: #dfadad;
}
#name {
    font-size: 60px;
    text-shadow: 3px 3px 1px #743F21;
    color: #FFA3A3;
    margin-left: 160px;
    margin-right: 160px;
    font-style: normal;
}
#logo {
    width: 100px;
    height: 100px;
    margin:10px;
}
#main_logo {
    width: 400px;
    height: 400px;
    margin-top:70px;
}
.button {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 20px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #743F21;
    text-align: center;
    font-size:30px;
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
}
.main_button {
    background-color: #ffffffb2;
    box-shadow: 6px 6px 1px #ffd504;
    margin-top: 20px;
    width: 250px;
    height: 47px;
    border-radius: 15px;
    text-align: center;
    font-size:30px;
    color: #607e19;
}
.main_button_flower{
    width: 80px;
    height: 80px;
}
.button:hover {
    box-shadow: 0px 0px 0px #743F21;
}
.main_button:hover {
    box-shadow: 0px 0px 0px #743F21;
}
.modal {
    position: absolute;
    display: none;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.475);
    z-index: 9999; 
}

.modalButton {
    font-family: 'Bagel Fat One', cursive; 
    background-color: #ffffff;
    margin: 15px;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #743F21;
    text-align: center;
    font-size:27px;
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
}

.restart_btn {
    font-family: 'Bagel Fat One', cursive; 
    background-color: #ffffff;
    margin: 15px;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #743F21;
    text-align: center;
    font-size:27px;
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
}


.modalButton:hover{
    box-shadow: 0px 0px 0px #743F21;

}


.result_modal {
    position: absolute;
    display: none;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.475);
    z-index: 9999;
}
.text {
    color:rgb(238, 144, 37);
    
}
.modal_body{
    width:250px;  
    height:150px; 
    padding:10px;  
    text-align: center;
    background-color: rgba(255, 248, 171, 0.863); 
    border-radius:40px;  
    box-shadow:5px 5px 1px rgb(193, 116, 0);
    transform:translateY(130%); 
}

.game-over_body{
    width:250px;  
    height:250px; 
    padding:10px;  
    text-align: center;
    background-color: rgba(255, 248, 171, 0.863); 
    border-radius:40px;  
    box-shadow:5px 5px 1px rgb(193, 116, 0);
    transform:translateY(130%); 
}

.result_modal_body{
    width:400px;  
    height:300px; 
    padding:10px;  
    text-align: center;
    background-color: rgb(255, 248, 171); 
    border-radius:40px;  
    box-shadow:5px 5px 1px rgb(103, 130, 34);
    transform:translateY(50%); 
}
/* .end-game-modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999; 
} */

/* .end-game-modal button {
    padding: 10px 20px;
    background-color: #e4baba; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.end-game-modal button:hover {
    background-color: #743F21; /* 마우스 호버 시 색상 변경 */
}


#restartGameBtn,
#goToMainPageBtn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#restartGameBtn:hover,
#goToMainPageBtn:hover {
    background-color: #743F21;
}

.game-over {
    position: absolute;
    display: none;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.475);
    z-index: 9999; 
}