body {
    background-color: #E6E6E8;
    font-family: 'Bagel Fat One', cursive; 
}
.horizonal {
    display: flex;
    justify-content: center;
    border: 1px;
    margin: 1px;
}
.cognition {
    background-color: #bd86a6;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 4px 4px 1px #743F21;
    margin: 4px;
    margin-top: 6px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 2px 2px 1px #a17070;
}
.button {
    background-color: #ffffff;
    margin: 20px;
    margin-top: 20px;
    width: 220px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #743F21;
    text-align: center;
    font-size:30px;
    color: #743F21;
    text-shadow: 2px 2px 1px #e4baba;
}
.main_button {
    background-color: #ffffffb2;
    box-shadow: 6px 6px 1px #ffd504;
    margin-top: 20px;
    width: 250px;
    height: 47px;
    border-radius: 15px;
    text-align: center;
    font-size:30px;
    color: #607e19;
}
.main_button_flower{
    width: 80px;
    height: 80px;
}
.button:hover {
    box-shadow: 0px 0px 0px #743F21;
}
.main_button:hover {
    box-shadow: 0px 0px 0px #743F21;
}
.modal {
    position: absolute;
    display: none;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.475);
    z-index: 9999; 
}
.result_modal {
    position: absolute;
    display: none;
    justify-content: center;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.475);
    z-index: 9999;
}
.text {
    color:rgb(238, 144, 37);
    
}
.modal_body{
    width:230px;  
    height:200px; 
    padding:10px;  
    text-align: center;
    background-color: rgb(255, 248, 171); 
    border-radius:40px;  
    box-shadow:5px 5px 1px rgb(103, 130, 34);
    transform:translateY(100%); 
}
.result_modal_body{
    width:400px;  
    height:300px; 
    padding:10px;  
    text-align: center;
    background-color: rgb(255, 248, 171); 
    border-radius:40px;  
    box-shadow:5px 5px 1px rgb(103, 130, 34);
    transform:translateY(50%); 
}
#sample_container {
    background-color: #ffffff;
    width: 480px;
    height: 500px;
    display: flex;
    margin-top: 6px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 30px;
}
#video_container {
    margin: 4px;
    width: 500px;
    height: 445px;
}
#videoElement {
    display: flex;
    width: 100%; 
    height: 100%; 
    background-color: #e8e6e7;
    transform: scaleX(-1);
}
#logo {
    width: 100px;
    height: 100px;
    margin:10px;
}
#main_logo {
    width: 400px;
    height: 400px;
    margin-top:70px;
}
#name {
    font-size: 70px;
    text-shadow: 3px 3px 1px #743F21;
    color: #FFA3A3;
    margin-left: 160px;
    margin-right: 160px;
}
#home {
    padding: 10px;
    border-radius: 40px;
    width: 70px;
    height: 70px;
    margin:20px;
}
#home:hover {
    background-color: #ffffff;
}
#sample_img {
    width: 380px;
    height: 380px;
    border-radius: 20px;
}
#sample_text {
    font-size: 60px;
    text-shadow: 3px 3px 1px #a06746;
    color: #dfadad;
}
#round {
    background-color: #743F21;
    border-radius: 50px;
    box-shadow: 3px 3px 1px #ffb7d1;
    margin: auto;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color:#ffffff;
    text-align: center;
}
#modal_text {
    font-size: 50px;
    color:#5c4410;
}
#modal_btn {
    font-size: 20px;
}
#empty {
    height: 170px;
}
#main_text {
    margin-top: 10px;
    text-align: center;
    color: #ffc3c3;
}
#result_text {
    font-size: 50px;
    color:#5c4410;
}