<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style2.css') }}">
    <title>STREAMING</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <canvas id="canvas"></canvas>

    <script src="{{ url_for('static', filename='js/_.js') }}"></script>

    <div class="horizonal">
      <img id="logo" src="static\img\Gieoknieun_logo.gif">
      <div id="name">박수 리듬 게임</div>
      <img id="home" onclick="location.href='/'"  src="static/img/home.png">
    </div>

    <!--<div id="container">
      <img id="background" src="static/img/background.png" > 
    </div> -->


    <br><br> <br><br> <br><br> <br><br><br><br> <br><br> 

      <div id = "horizonal">
          <div class="score-box">
            <img id="score-box-img" src="static/img/score-box.png">
            <div class="score-text"> Score : 0</div>
          </div>
          <div class="video-container">
            <div class="col-lg-8  offset-lg-2">
              <img src="{{ url_for('Stream2') }}" width="28%">
            </div>
        </div>
      </div>
  
    <div class="horizonal">
      <div class="button" id="reset">다시하기</div>
      <!-- <div class="button" id="answer">정  답</div> -->
    </div>
  </body>
</html>
