<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style2.css') }}">
    <title>STREAMING</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="modal">
      <div class="modal_body">
          <div id="modal_text"></div>
          <div class="horizonal">
              <div class="modalButton" id="modal_btn">시작</div>
          </div>
      </div>
  </div>

    <div class="horizonal">
      <img id="logo" src="static\img\Gieoknieun_logo.gif">
      <div id="name">박수 리듬 게임</div>
      <img id="home" onclick="location.href='/'"  src="static/img/home.png">
    </div>
    
    <div class="score-text"><p id="score">점수<br>0</p></div>
    <canvas id="canvas"></canvas>
    <!--<div id="container">
      <img id="background" src="static/img/background.png" > 
    </div> -->
  

    <br><br> <br><br> <br><br> <br><br><br><br> <br><br>
      <div class = "horizonal">
          <div class="video-container">
            <div class="col-lg-8  offset-lg-2">
              <img src="{{ url_for('Stream2') }}" width="90%">
            </div>
        </div>
      </div>
    
      <!-- 게임 종료 모달 -->
      <div class="end-game-modal">
        <div class="modal-content">
            <h2>게임 종료!</h2>
            <button id="end-game-btn" onclick="location.href='/'">홈으로 돌아가기</button>
            <button id="end-restart-game-btn" onclick="window.location.reload()">게임 재시작</button>
        </div>
    </div>

    <div class="next-round-modal" id="nextRoundModal">
      <div class="modal_body">
          <div>성공!</div>
          <button id="startNextGameBtn" onclick="startNextRound()">다음 단계 시작</button>
      </div>
  </div>

    <script src="{{ url_for('static', filename='js/rhythm.js') }}"></script>

      

    </body>
</html>
