<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
        <title>GiyokNieunMain</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    </head>
<body>
        <div class="horizonal">
                <div>
                    <img id="main_logo" src="static/img/giyok_nieun_logo.gif">
                </div>
                <div>
                    <div id="empty"></div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/yellow_flower.png">
                        <div onclick="location.href='/clap_memory'"             
                        class="main_button">박수 기억력 게임</div>
                    </div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/yellow_flower.png">
                        <div onclick="location.href='/clap_rythem'" 
                        class="main_button">박수 리듬 게임</div>
                    </div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/yellow_flower.png">
                        <div onclick="location.href='/'" 
                        class="main_button">연습하기</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>