<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/main_style.css') }}">
        <title>GiyokNieunMain</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
    </head>
<body>
        <div class="horizonal">
                <div>
                    <img id="main_logo" src="static\img\Gieoknieun_logo.gif">
                </div>
                <div>
                    <div id="empty"></div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/flower.png">
                        <div class="main">
                            박수 기억력 게임
                            <div class="horizonal">
                                <div class="button" onclick="location.href='/memory_practice'">게임 방법</div>
                                <div class="button" onclick="location.href='/clap_memory'">게임 시작</div>
                            </div>
                        </div>
                    </div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/flower.png">
                        <div class="main">
                            박수 리듬 게임
                            <div class="horizonal">
                                <div class="button" onclick="location.href='/rhythm_practice'">게임 방법</div>
                                <div class="button" onclick="location.href='/clap_rythem'">게임 시작</div>
                            </div>
                        </div>
                    </div>
                    <div class="horizonal">
                        <img class="main_button_flower" src="static/img/flower.png">
                        <div onclick="location.href='/clap_practice'" 
                        class="prac">연습하기<div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>